@import url(http://fonts.googleapis.com/css?family=Roboto:300|Open+Sans);

body, html {
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

input {
	padding: 10px !important;
	border: 2px solid #3b7fc4;
	background-color: white;
	border-radius: 3px;
}

input:focus {
	outline: 0;
	border-color: #9dbfe2;
}

input[type=button] {
	color: white;
	background: -webkit-linear-gradient(to bottom, #4c91de, #3b7fc4);
	background: linear-gradient(to bottom, #4c91de, #3b7fc4);
}

input[type=button]:disabled, input[type=button]:disabled:hover{
	background: -webkit-linear-gradient(to bottom, #a2c3e6, #97b3d0));
	background: linear-gradient(to bottom, #a2c3e6, #97b3d0);
	border-color: #97b3d0;
}

input[type=button]:hover {
	background: -webkit-linear-gradient(to bottom, #529cef, #4187cf));
	background: linear-gradient(to bottom, #529cef, #4187cf);
}

.title {
	text-align: center;
	color: white;
	background-color: #3b7fc4;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}

.phase {
	padding: 30px;
}

#user-input {
	float: left;
}

#pass-input {
	float: right;
}

.label {
	color: #3b73af;
}

.info {
	font-style: italic;
}

.prev {
	float: left;
}

.next {
	float: right;
}

.error {
	text-align: center;
	color: red;
	display: none;
}

#overview div {
	float: left;
	width: 33%;
	border-radius: 3px;
	text-align: left;
	vertical-align: middle;
	/*height: 35px;*/
	color: white;
	font-weight: bold;
}

#overview .active {
	background: linear-gradient(#ecbe35, #fcd254);
	text-decoration: underline;
}

#overview .done {
	background: linear-gradient(#9fcf3f, #c0e95c);
}

#overview .todo {
	background: linear-gradient(#595959, #a2a2a2);
}

#overview .number {
	width: 20%;
	text-align: center;
	font-size: 20px;
}

#diffUser {
	margin-left: 25px;
	width: 250px;
}

#repoListDiffUser {
	display: none;
}

#results-search {
	margin-bottom: 20px;
}

#phase-2 .label{
	padding-top: 10px;
}